body{
    background-color: blanchedalmond;

}
.Pen{
    background-color: coral;
    text-align: left;
    font-size: 50px;
    
}
.hello{
    background-color: bisque;
    text-align: left;
    font-size: 60px;
}
.Hi{
    background-color: blueviolet;
    
}


