body{
    align-items: left;
    justify-content: left;
    display: flex;
    margin: 0%;
    background-image: url(wallpaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}
