body{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 70vh;
}
.max{
    background-color: burlywood;
    height: 290px;
    width: 300px;
    border: 10px solid black;
    padding: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;

}
.my{
    display: flex;
    margin-top: 10px;
    font-size: larger;
}
.hi{
    display: flex;
    margin-top: -20px;
}
.hello{
    padding: 2vh;
}
.hey{
    padding: 2vh;
}
.line{
    margin-top: -3vh;
}